# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.git
.vscode
desktop.ini
LICENSE
LCDAssistant.exe
tesotec.gif
tesotec.jpg
tesotecBlack.bmp
tesotecWhite.bmp
Thumbs.db
.gitignore
.gitattributes
Webkeys.h